.single-product-wrap label {
    padding-bottom: 20px !important;
    width: 110px;
    text-align: center;
    overflow: hidden;
    z-index: 1;
    display: inline-block;
    position: absolute;
    font-size: 12px;
    color: #fff;
    font-weight: 600;
    border-radius: 2px;
    padding: 3px 5px 0;
    height: 18px;
    bottom: 65px;
}

.single-product-wrap .giare {
    background-color: #3fb846;
    border-radius: 10px;
}

.single-product-wrap .moiramat {
    background-color: #1191f8;
    border-radius: 10px;
}

.single-product-wrap .tragop {
    background-color: #f28902;
    border-radius: 10px;
}

.single-product-wrap .giamgia {
    background-image: -webkit-gradient(linear, left top, right top, from(#ff9c00), to(#ec1f1f));
    background-image: -webkit-linear-gradient(left, #ff9c00 0%, #ec1f1f 100%);
    background-image: -o-linear-gradient(left, #ff9c00 0%, #ec1f1f 100%);
    background-image: linear-gradient(90deg, #ff9c00 0%, #ec1f1f 100%);
    border-radius: 10px;
    padding: 1px 7px;
    padding-left: 0;
    padding-right: 10px;
}

.sodanhgia {
    color: orange;
    font-size: 13px;
    font-weight: 500;
}